<h1>Show Post</h1>

<%= @post.title %> <br>
<a href="<%= @post.url %>
"><%= @post.url %>
</a>

<h3>Comments </h3>
<% @post.comments.each do |comment| %>
  <%= render partial: "comments/comments", locals: {commentable: comment} %>
<% end %>

<%= render partial: "comments/form", locals: {commentable: @post, post: @post} %>

<p><%= link_to "Edit", edit_post_path(@post) %></p>
<p><%= link_to "Delete", post_path(@post),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to posts", posts_path %></p>
